<!doctype HTML>
<html>
    <head>

        <title>{{title}}</title>

        <style>
            .error{
                color: red;
            }

            h1{
                text-align: center
            }

            .post-author{
                font-size: 12px
            }


        </style>
    </head>

<body>
    <div>
        <a href= '/blog'>All posts</a>
        <a href = '/newpost'>New post</a>
        <a href='/logout'>Logout</a>
        <a href='/login'>Login</a>
        <a href= '/'>Home</a>
    </div>

    {% with messages= get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
            <li class= "{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    

        {%block content%}
        {%endblock%}







</body>
</html>